.cc {
  height: 100%;
}

.cc-top {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(247, 247, 247);
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

/* .cc-back-icon{

} */

.cc-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5px solid lightgray;
}

.cc-top-right {
  display: flex;
  flex-direction: column;
}

.cc-contact-last-seen {
  font-size: 13px;
}

.cc-conversation-box {
  min-height: 80%;
  /* background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg"); */
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  max-height: 80%;
  overflow-y: scroll;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cc-conversation-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cc-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 10%;
  box-sizing: border-box;
  padding: 0px 10px;
}

.cc-bottom-emojis {
  height: 35px;
  width: 35px;
}

.cc-bottom-file-attachment-container {
  display: flex;
  align-items: center;
}

.cc-file-attachment-icon {
  height: 25px;
  width: 25px;
}

.cc-bottom-file-attachment {
  visibility: hidden;
  width: 0px;
}

.cc-message-box {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  font-size: 15px;
  height: 60%;
}

.cc-bottom-send-message-button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.cc-emp {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 420px) {
  .cc {
    height: 100%;
  }

  .cc-top {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(3, 95, 58);
    color: white;
    height: 6%;
    padding: 10px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid lightgray;
  }

  .cc-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5px solid lightgray;
  }

  .cc-top-right {
    display: flex;
    flex-direction: column;
  }

  .cc-contact-name {
    font-size: 18px;
  }

  .cc-contact-last-seen {
    font-size: 13px;
  }

  .cc-conversation-box {
    min-height: 86%;
    /* background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg"); */
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    max-height: 86%;
    overflow-y: scroll;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cc-conversation-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cc-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 8%;
    max-height: 8%;
    padding: 0px 10px;
    box-sizing: border-box;
    position: sticky;
    background-color: rgb(245, 255, 252);
    bottom: 0px;
  }

  .cc-bottom-emojis {
    height: 35px;
    width: 35px;
  }

  .cc-bottom-file-attachment-container {
    display: flex;
    align-items: center;
  }

  .cc-file-attachment-icon {
    height: 25px;
    width: 25px;
  }

  .cc-bottom-file-attachment {
    visibility: hidden;
    width: 0px;
  }

  .cc-message-box {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    font-size: 15px;
    min-height: 80%;
    max-height: 80%;
  }

  .cc-bottom-send-message-button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    outline: 2px solid black;
  }

  .cc-emp {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
